.btn {
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;   
}

.btn-black {
    background-color: #000;
    opacity: 0.9;
    color: #fff;
}

.btn-black:hover {
    opacity: 0.8;
    cursor: pointer;
}