.contact-form-container {
    background-color: #cbb6ac;
    width: 40%;
    margin: auto;
}

.contact-form-title {
    font-family: 'La Belle Aurore', cursive;
    padding-top: 50px;
}

.contact-form {
    width: 80%;
    margin: auto;
    padding: 20px 0px;
}

.form-text {
    resize: none;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background: #fff;
    font-size: 12px;
}

.form-control:focus {
    outline: none;
}

.submit-btn {
    padding: 5px 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    background-color: transparent;
    font-weight: 600;
    color: #fff;
    font-family: 'Poppins', cursive;
    font-size: 14px; 
}

.submit-btn:hover {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

@media screen and (max-width: 992px) {
    .contact-form-container {
        width: 60%;
    }
}

@media screen and (max-width: 580px) {
    .contact-form-container {
        width: 80%;
    }
}