.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.hero-content h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 56px;
}

.hero-content h4 {
    font-family: 'Poppins', cursive;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero-content {
    text-align: center;
}

.hero-link {
    opacity: 0.9;
    color: #000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
    margin-top: 50px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.hero-link:hover {
    animation-play-state: running;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
}