.hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CBB6AC;
}

.hero-title h1 {
    font-family: 'La Belle Aurore', cursive;
}