.section-container {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.section-title {
    font-family: 'La Belle Aurore', cursive;
    font-size: 32px;
}
    
.section-content {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.section-content p {
    width: 60%;
    margin: auto;
}